@model GiftExchange.Models.Gift

@{
    ViewBag.Title = "OpenGift";
}

<h2>OpenGift</h2>

<div>
    <h4>Gift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftHint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftHint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorWrappingPaper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorWrappingPaper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpened)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
